description = "Account Button"

[viewBag]

[myAccount]
==
{% if user %}
<li class="nav-item text-center">
	<a class="nav-link opacity-70 hover:opacity-100 text-dark my-sm-4 my-3 py-0 px-2 w-16 w-md-18 border-right" href="{{ myAccount.accountPage | page }}">
		<i class="d-block mx-auto w-5 h-5 mb-1" data-feather="user"></i>
		<span class="d-block text-uppercase font-1">{{ 'Account'|_ }}</span>
	</a>
</li>
<li class="nav-item text-center d-none d-sm-block">
	<a class="nav-link opacity-70 hover:opacity-100 text-dark my-sm-4 my-3 py-0 px-2 w-16 w-md-18 border-right" href="javascript:;" data-request="onLogout" data-request-data="redirect: '/'">
		<i class="d-block mx-auto w-5 h-5 mb-1" data-feather="log-out"></i>
		<span class="d-block text-uppercase font-1">{{ 'Sign Out'|_ }}</span>
	</a>
</li>
{% else %}
<li class="nav-item text-center">
	<a class="nav-link opacity-70 hover:opacity-100 text-dark my-sm-4 my-3 py-0 px-2 w-16 w-md-18 border-right" href="{{ '/login' | app }}">
		<i class="d-block mx-auto w-5 h-5 mb-1" data-feather="log-in"></i>
		<span class="d-block text-uppercase font-1">{{ 'Sign In'|_ }}</span>
	</a>
</li>
{% endif %}