[viewBag]
==
{% for post in posts %}
<div class="row align-items-center">
    <div class="col-md-6 {{ (loop.index0 % 2 == 1) ? 'order-md-1' : 'order-md-2' }}">
        {% if post.featured_images.count %}
        <a class="d-block mb-md-0 mb-4" href="{{ post.url }}">
            <img class="d-block img-fluid" src="{{ post.featured_images.first.getThumb(750, 500, 'crop') }}" width="750" height="500" alt="{{ post.title }}" loading="lazy">
        </a>
        {% endif %}
    </div>
    <div class="col-md-6 {{ (loop.index0 % 2 == 1) ? 'order-md-2' : 'order-md-1' }}">
        <div class="font-5 text-muted d-flex flex-wrap align-items-center justify-content-between pb-4">
            <div class="mr-2">
                {% if post.user.avatar %}
                <img class="rounded-circle border p-1 mr-2" src="{{ post.user.avatar.getThumb(28, 28, 'crop') }}" alt="{{ post.user.avatar.file_name }}">
                {% endif %}
                by&nbsp;
                <span class="text-muted">{{ post.user.first_name}}</span>
                <i class="w-4 h-4" data-feather="more-vertical"></i>
                <span class="text-muted">{{ post.published_at|date('M d, Y') }}</span>
            </div>
            {% if this.theme.blog_comments %}
            <div>
                <i class="w-4 h-4 mr-1" data-feather="message-circle"></i>
                <a class="text-muted hover:text-primary" href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}"></a>
            </div>
            {% endif %}
        </div>
        <h3 class="h4 mb-4">
            <a class="text-link font-weight-semibold" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p class="font-5">{{ post.summary|raw }}</p>
        <div class="font-5 text-muted">
            <div>
                {% if post.categories.count %}
                in&nbsp;
                {% for category in post.categories %}
                    <a href="{{ category.url }}" class="text-muted hover:text-primary">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr class="my-12">
{% else %}
<div class="col-md-5">
    {{ blogPosts.noPostsMessage }}
</div>
{% endfor %}

{% if posts.lastPage > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center flex-wrap m-0">
        {% if posts.currentPage > 1 %}
        <li class="page-item mr-2">
            <a class="d-flex justify-content-center align-items-center btn btn-primary rounded-circle p-0 w-10 h-10" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}" tabindex="-1" aria-label="Previous">
            <i data-feather="chevron-left"></i>
            <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}
        {% for page in 1..posts.lastPage %}
        <li class="page-item mr-2">
            <a class="{{ posts.currentPage == page ? 'active' : null }} d-flex justify-content-center align-items-center btn btn-primary rounded-circle p-0 w-10 h-10" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }} <span class="sr-only">(current)</span></a>
        </li>
        {% endfor %}
        {% if posts.lastPage > posts.currentPage %}
        <li class="page-item mr-2">
            <a class="d-flex justify-content-center align-items-center btn btn-primary rounded-circle p-0 w-10 h-10" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}" aria-label="Next">
            <i data-feather="chevron-right"></i>
            <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% if this.theme.blog_comments %}
<script id="dsq-count-scr" src="//{{ this.theme.blog_comments }}.disqus.com/count.js" async></script>
{% endif %}