[viewBag]
snippetCode = "about"
snippetName = "about"
==
{% if aboutEnable %}
    <section class="about-section">
        <div class="auto-container">
            <div class="row align-items-center clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div id="image_block_1">
                        <div class="image-box">
                            <figure class="image"><img src="{{aboutImage|media}}" alt=""></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_1">
                        <div class="content-box">
                            <div class="sec-title">
                                {% if aboutTop %}<p>{{aboutTop}}</p>{% endif %}
                                <h2>{{aboutTitle??('This is a damo'|_)}}</h2>
                                <div class="dotted-box">
                                    <span class="dotted"></span>
                                    <span class="dotted"></span>
                                    <span class="dotted"></span>
                                </div>
                            </div>
                            <div class="bold-text">
                                <p>{{aboutTextBold??('Please set it in the backend'|_)}}</p>
                            </div>
                            {% if aboutText %}
                            <div class="text">
                                <p>{{aboutText}}</p>
                            </div>
                            {% endif %}
                            {% if aboutBtnText %}
                            <div class="btn-box">
                                <a href="{{aboutBtnUrl}}" target="_blank" class="theme-btn-two">{{aboutBtnText}}<i class="flaticon-send"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
<section class="about-section">
    <div class="pattern-layer" style="background-image: url({{'assets/images/shape/pattern-1.png'|theme}});"></div>
    <div class="auto-container">
        <div class="row align-items-center clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_1">
                    <div class="image-box">
                        <figure class="image"><img src="{{'assets/images/resource/about-1a.jpg'|theme}}" alt=""></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_1">
                    <div class="content-box">
                        <div class="sec-title">
                            <p>WHAT IS TIMBOK?</p>
                            <h2>Enterprise-Class Monitoring Solution for Everyone</h2>
                            <div class="dotted-box">
                                <span class="dotted"></span>
                                <span class="dotted"></span>
                                <span class="dotted"></span>
                            </div>
                        </div>
                        <div class="bold-text">
                            <p>An uncomprnomising mature enterprise-level platform designed for real-time monitoring of millions of metrics collected from servers, VMs & network devices, with effortless scaling.</p>
                        </div>
                        <div class="text">
                            <p>Gather and analyze accurate statistics and performance metrics, visualize it, get notified about current and potential issues without delay, and take advantage of our professional development and support.</p>
                        </div>
                        <div class="btn-box">
                            <a href="" class="theme-btn-two">Learn More<i class="flaticon-send"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}