[viewBag]
snippetCode = "choose"
snippetName = "choose"
==

{% if chooseEnable %}

<section class="choose-section bg-color-3">
    <div class="pattern-layer" style="background-image: url({{ 'assets/images/shape/pattern-3.png'|theme }});"></div>
    <figure class="image-layer wow slideInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="{{ 'assets/images/resource/choose-1.jpg'|theme }}" alt=""></figure>
    <div class="auto-container">
        <div id="content_block_2">
            <div class="content-box">
                {% if chooseTitle %}
                <div class="sec-title">
                    {% if chooseTop %}<p>{{chooseTop}}</p>{% endif %}
                    <h2>{{chooseTitle}}</h2>
                    <div class="dotted-box">
                        <span class="dotted"></span>
                        <span class="dotted"></span>
                        <span class="dotted"></span>
                    </div>
                </div>
                {% if chooseInfo %}
                <div class="text">
                    <p>{{chooseInfo}}</p>
                </div>
                {% endif %}
                {% endif %}
                <div class="inner-box">

                    {% for item in chooses %}
                    <div class="single-item">
                        <div class="icon-box"><i class="{{item.icon}}"></i></div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.info}}</p>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
</section>


{% else %}


<section class="choose-section bg-color-3">
    <div class="pattern-layer" style="background-image: url({{ 'assets/images/shape/pattern-3.png'|theme }});"></div>
    <figure class="image-layer wow slideInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img src="{{ 'assets/images/resource/choose-1.jpg'|theme }}" alt=""></figure>
    <div class="auto-container">
        <div id="content_block_2">
            <div class="content-box">
                <div class="sec-title">
                    <p>why choose visarzo</p>
                    <h2>Countless Benefits & Easy Processing</h2>
                    <div class="dotted-box">
                        <span class="dotted"></span>
                        <span class="dotted"></span>
                        <span class="dotted"></span>
                    </div>
                </div>
                <div class="text">
                    <p>Nunc quam arcu, pretium quis quam sed, laoreet efficitur leo. Aliquam era volutpat. lobortis sem consequat consequat imperdiet. In nulla sed viverraut loremut dapib es tetur diam nunc bibendum imperdiets.</p>
                </div>
                <div class="inner-box">
                    <div class="single-item">
                        <div class="icon-box"><i class="flaticon-air-freight"></i></div>
                        <h3>Legal Immigration Success</h3>
                        <p>Kaoreet efficitur leo. Aliquam era volutpat. lobortis sem consequat consequat imperdiet. In nulla sed viverraut loremut.</p>
                    </div>
                    <div class="single-item">
                        <div class="icon-box"><i class="flaticon-report"></i></div>
                        <h3>Required Documents Support</h3>
                        <p>Kaoreet efficitur leo. Aliquam era volutpat. lobortis sem consequat consequat imperdiet. In nulla sed viverraut loremut.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}