[viewBag]
snippetCode = "faq"
snippetName = "faq"
==
{% if faqEnable %}
<section class="faq-section style-two">
    <div class="auto-container">
        <div class="inner-box mt-5">
            <h2>{{faqTitle}}</h2>
            <ul class="accordion-box">

                {% for item in faqs %}
                <li class="accordion block">
                    <div class="acc-btn">
                        <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                        <h5>{{item.q}}</h5>
                    </div>
                    <div class="acc-content">
                        <p>{{item.a}}</p>
                    </div>
                </li>
                {% endfor%}

            </ul>
        </div>
    </div>
</section>
{% else %}
<section class="faq-section style-two">
    <div class="auto-container">
        <div class="inner-box mt-5">
            <h2>Special Issues & Common Forms</h2>
            <ul class="accordion-box">
                <li class="accordion block active-block">
                    <div class="acc-btn active">
                        <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                        <h5>I have made an error on the DS-260, what should I do?</h5>
                    </div>
                    <div class="acc-content current">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit asperna tur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>
                </li>
                <li class="accordion block">
                    <div class="acc-btn">
                        <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                        <h5>Why are police certificates required and How do I obtain a police certificate?</h5>
                    </div>
                    <div class="acc-content">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit asperna tur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>
                </li>
                <li class="accordion block">
                    <div class="acc-btn">
                        <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                        <h5>What if my medical runs out before I travel to the United States with a copy of my medical report?</h5>
                    </div>
                    <div class="acc-content">
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit asperna tur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endif %}