[viewBag]
snippetCode = "immigration"
snippetName = "immigration"
==
{% if immigrationEnable %}
    <section class="immigration-section">
            <div class="auto-container">
                {% if immigrationTitle %}
                <div class="sec-title centred">
                    {% if immigrationTop %}<p>{{immigrationTop}}</p>{% endif %}
                    <h2>{{immigrationTitle}}</h2>
                    <div class="dotted-box">
                        <span class="dotted"></span>
                        <span class="dotted"></span>
                        <span class="dotted"></span>
                    </div>
                </div>
                {% endif %}
                <div class="row clearfix">

                    {% for item in immigrations %}
                    <div class="col-lg-4 col-md-6 col-sm-12 immigration-block">
                        <div class="immigration-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{{ item.image|media }}" alt=""></figure>
                                <div class="text">
                                    <h3><a href="{{item.url}}" target="_blank">{{item.title}}</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>

{% else %}
<section class="immigration-section clearfix">
    <div class="auto-container">
        <div class="sec-title centred">
            <p>countries we offer support</p>
            <h2>Immigration & Visa Services <br>Following Countries</h2>
            <div class="dotted-box">
                <span class="dotted"></span>
                <span class="dotted"></span>
                <span class="dotted"></span>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 immigration-block">
                <div class="immigration-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{'assets/images/resource/immigration-1.jpg'|theme}}" alt=""></figure>
                        <div class="text">
                            <h3><a href="">United States</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 immigration-block">
                <div class="immigration-block-one wow fadeInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{'assets/images/resource/immigration-2.jpg'|theme}}" alt=""></figure>
                        <div class="text">
                            <h3><a href="">Canada</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 immigration-block">
                <div class="immigration-block-one wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{'assets/images/resource/immigration-3.jpg'|theme}}" alt=""></figure>
                        <div class="text">
                            <h3><a href="">Australia</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 immigration-block">
                <div class="immigration-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{'assets/images/resource/immigration-4.jpg'|theme}}" alt=""></figure>
                        <div class="text">
                            <h3><a href="">NewZealand</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 immigration-block">
                <div class="immigration-block-one wow fadeInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{'assets/images/resource/immigration-5.jpg'|theme}}" alt=""></figure>
                        <div class="text">
                            <h3><a href="">Europe</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 immigration-block">
                <div class="immigration-block-one wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{'assets/images/resource/immigration-6.jpg'|theme}}" alt=""></figure>
                        <div class="text">
                            <h3><a href="">United Kingdom</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}