[viewBag]
snippetCode = "line"
snippetName = "line"
snippetProperties[m][title] = "m"
snippetProperties[m][type] = "dropdown"
snippetProperties[m][default] = 0
snippetProperties[m][options][] = 0
snippetProperties[m][options][] = 1
snippetProperties[m][options][] = 2
snippetProperties[m][options][] = 3
snippetProperties[m][options][] = 4
snippetProperties[m][options][] = 5
snippetProperties[p][title] = "p"
snippetProperties[p][type] = "dropdown"
snippetProperties[p][default] = 0
snippetProperties[p][options][] = 0
snippetProperties[p][options][] = 1
snippetProperties[p][options][] = 2
snippetProperties[p][options][] = 3
snippetProperties[p][options][] = 4
snippetProperties[p][options][] = 5
==
<div class='m-{{m}} p-{{p}}'></div>