[viewBag]
snippetCode = "pageTitle"
snippetName = "pageTitle"
==
{% if par_enable or pageTitleEnable %}
<section class="page-title" style="background-image: url({% if par_image %}{{par_image}}{% elseif pageImage %}{{pageImage|media}}{% else %}{{'assets/images/background/page-title-7.jpg'|theme}}{% endif %});">
    <div class="auto-container">
        <div class="content-box">
            <div class="title-box">
                <h1>{{par_title??pageTitleTitle}}</h1>
                <div class="dotted-box">
                    <span class="dotted"></span>
                    <span class="dotted"></span>
                    <span class="dotted"></span>
                </div>
            </div>
            {% if pageBreads %}
            <ul class="bread-crumb clearfix">
                <li><a href="/"><i class="flaticon-home-1"></i> {{''|_}}</a></li>
                {% for item in pageBreads %}

                <li>
                    {% if item.url %}
                    <a href="{{item.url}}">{{item.title}}</a>
                    {% else %}
                        {{item.title}}
                    {% endif %}
                </li>

                {% endfor%}

            </ul>
            {% endif %}
        </div>
    </div>
</section>

{% else %}
<section class="page-title" style="background-image: url({{'assets/images/background/page-title.jpg'|theme}});">
    <div class="auto-container">
        <div class="content-box">
            <div class="title-box">
                <h1>Page Title</h1>
                <div class="dotted-box">
                    <span class="dotted"></span>
                    <span class="dotted"></span>
                    <span class="dotted"></span>
                </div>
            </div>
            <ul class="bread-crumb clearfix">
                <li><i class="flaticon-home-1"></i><a href="/">Home</a></li>
                <li>Page Title</li>
            </ul>
        </div>
    </div>
</section>
{% endif %}