[viewBag]
==
<h2 class="d-flex flex-wrap justify-content-between align-items-center px-6 py-4 bg-secondary">
    <span class="font-weight-semibold font-6">{{ 'offline.mall::frontend.product' | trans }}</span>
    <span class="font-weight-semibold font-6 d-none d-sm-block">{{ 'offline.mall::frontend.quantity' | trans }}</span>
</h2>

<!--<tr class="mall-cart__header">
    <th scope="col" class="py-4">&nbsp;</th>
    <th scope="col" class="py-4">{{ 'offline.mall::frontend.product' | trans }}</th>
    <th scope="col" class="text-right py-4">{{ 'offline.mall::frontend.quantity' | trans }}</th>
    <th scope="col" class="text-right py-4">{{ 'offline.mall::frontend.price' | trans }}</th>
    <th scope="col" class="text-right py-4">{{ 'offline.mall::frontend.total' | trans }}</th>
</tr>-->