description = "Content Section"

[viewBag]
==
<div class="py-12 {{ content_bg }}">
    <div class="{{ content_container }}">
        <div class="row justify-content-center">
            <div class="{{ content_size }}">
                <div class="row justify-content-center">
                    {% for col in content_column %}
                    <div class="{{ col.content_size }} mb-4">
                        <div class="{{ col.content_text_color }} {% if col.content_text_bg %}{{ col.content_text_bg }} px-7 pt-5 pb-1 mb-4{% endif %}">
                            {{ col.content_text|raw }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>