//
// Line height Utilities
//

.line-height-none		{ line-height: 1 !important; }
.line-height-tight		{ line-height: 1.25 !important; }
.line-height-normal		{ line-height: 1.5 !important; }
.line-height-loose		{ line-height: 2 !important; }