

/* color-crimson */

.preloader-close{
	background: #e62a4e;
}

.main-header .header-top .top-left ul li a:hover{
  	color: #e62a4e;
}

.main-header .header-top .top-left ul li i{
	color: #e62a4e;
}

.main-header .header-top .top-right .social-links li a:hover{
  	color: #e62a4e;
}

.theme-btn-one i{
	color: #e62a4e;
}

.theme-btn-one:hover{
  	color: #e62a4e;
}

.main-header.style-one .header-upper .menu-right-content .support-box{
	background: #e62a4e;
}

.main-menu .navigation > li > ul > li > a:hover{
  	color: #e62a4e;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  	color: #e62a4e;
}

.main-menu .navigation > li > .megamenu li > a:hover{
  color: #e62a4e;
}

.sticky-header .main-menu .navigation > li.current > a, 
.sticky-header .main-menu .navigation > li:hover > a{
  background: #e62a4e;
}

.banner-section .owl-nav .owl-next:hover{
  border-color: #e62a4e;
  background: #e62a4e;
}

.banner-section .owl-nav .owl-prev:hover{
  border-color: #e62a4e;
  background: #e62a4e;
}

#image_block_1 .image-box .box .inner h1{
  color: #e62a4e;
}

.sec-title:before{
  background: #e62a4e;
}

.sec-title .dotted-box .dotted{
  background: #e62a4e;
}

.theme-btn-two{
  background: #e62a4e;
}

h3 a:hover{
  color: #e62a4e;
}

.cta-section .inner-box .text:before{
  background: #e62a4e;
}

.cta-section .inner-box .text:after{
  background: #e62a4e;
}

.cta-section .inner-box .text .dotted-box .dotted{
  background: #e62a4e;
}

.service-block-one .inner-box:hover .icon-box{
  color: #e62a4e;
}

.service-block-one .inner-box .link a{
  color: #e62a4e;
}

.service-block-one .inner-box:before{
  background: #e62a4e;
}

.apply-section .inner-box{
  background: #e62a4e;
}

.apply-section .inner-box .content-box .theme-btn-one:hover i{
  color: #e62a4e;
}

.search-popup .search-form fieldset input[type="submit"]{
  background: #e62a4e;
}

.search-popup .recent-searches li a:hover{
  color: #e62a4e;
  border-color: #e62a4e;
}

.training-block-one .inner-box .overlay-box:before{
  background: #e62a4e;
}

.training-section .owl-nav .owl-prev:hover,
.training-section .owl-nav .owl-next:hover{
  background: #e62a4e;
  border-color: #e62a4e;
}

.immigration-section .more-text h3 a span{
  color: #e62a4e;
  border-bottom: 1px solid #e62a4e;
}

#content_block_2 .content-box .inner-box .single-item:hover .icon-box{
  background: #e62a4e;
}

.testimonial-section .owl-theme .owl-dots .owl-dot.active span, 
.testimonial-section .owl-theme .owl-dots .owl-dot span:hover {
  background: #e62a4e;
}

.inquiry-section .inner-box .inquiry-form .form-group textarea:focus,
.inquiry-section .inner-box .inquiry-form .form-group input:focus{
  border-color: #e62a4e !important;
}

.inquiry-section .content-box .info-box li h3 a:hover{
  color: #e62a4e;
}

.news-block-one .inner-box .lower-content .post-date{
  background: #e62a4e;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
  color: #e62a4e;
}

.news-block-one .inner-box .lower-content .post-info:before{
  background: #e62a4e;
}

.news-block-one .inner-box .lower-content .link a:hover{
  color: #e62a4e;
}

.main-footer .footer-top .logo-widget .social-links li a:hover{
  color: #e62a4e;
}

.main-footer .footer-top .newsletter-widget .newsletter-form .form-group input:focus{
  border-color: #e62a4e !important;
}

.main-footer .footer-top .newsletter-widget .newsletter-form .form-group button{
  background: #e62a4e;
}

.main-footer .footer-bottom .copyright p a:hover{
  color: #e62a4e;
}

.scroll-top{
  background: #e62a4e;
}

.main-footer .footer-bottom .footer-nav li a:hover{
  color: #e62a4e;
}

.main-header.style-two .header-top .top-right .search-box-outer .search-toggler:hover{
  color: #e62a4e;
}

.feature-block-two .inner-box:before{
  background: #e62a4e;
}

.service-block-two .inner-box .lower-content .link a i{
  color: #e62a4e;
}

.service-block-two .inner-box .lower-content .link:before{
  background: #e62a4e;
}

.service-style-two .more-text span{
  color: #e62a4e;
  border-bottom: 1px solid #e62a4e;
}

.apply-style-two .single-item .inner-box .icon-box{
  color: #e62a4e;
}

.apply-style-two .single-item .inner-box:hover .icon-box{
  background: #e62a4e;
  border-color: #e62a4e;
}

.offer-section .owl-nav .owl-prev:hover, 
.offer-section .owl-nav .owl-next:hover{
  background: #e62a4e;
  border-color: #e62a4e;
}

.team-block-one .inner-box .image-box .social-links li a:hover{
  color: #e62a4e;
}

.team-block-one .inner-box .lower-content h4 a:hover{
  color: #e62a4e;
}

.funfact-style-two .inner-container{
  background: #e62a4e;
}

.testimonial-style-two .owl-theme .owl-dots .owl-dot.active span,
.testimonial-style-two .owl-theme .owl-dots .owl-dot span:hover{
  background: #e62a4e;
}

.page-title .content-box .title-box:before{
  background: #e62a4e;
}

.page-title .content-box .title-box .dotted-box .dotted{
  background: #e62a4e;
}

.page-title .content-box .bread-crumb li a:hover{
  color: #e62a4e;
}

.sidebar-page-container .sidebar .sidebar-categories .categories-list li a.active i,
.sidebar-page-container .sidebar .sidebar-categories .categories-list li a:hover i{
  color: #e62a4e;
}

.sidebar-page-container .sidebar .widget-title:before{
  background: #e62a4e;
}

.sidebar-page-container .sidebar .widget-title .dotted-box .dotted{
  background: #e62a4e;
}

.sidebar-page-container .sidebar .sidebar-download{
  background: #e62a4e;
}

.sidebar-page-container .sidebar .sidebar-categories-2 .categories-list li a:hover:after{
  color: #e62a4e;
}

.sidebar-page-container .sidebar .sidebar-assessment .assessment-form .form-group input:focus,
.sidebar-page-container .sidebar .sidebar-assessment .assessment-form .form-group textarea:focus{
  border-color: #e62a4e !important;
}

.group-title:before{
  background: #e62a4e;
}

.group-title .dotted-box .dotted{
  background: #e62a4e;
}

.mobile-menu .contact-info ul li a:hover{
  color: #e62a4e;
}

.mobile-menu .social-links li a:hover{
  color: #e62a4e;
}

.error-section .content-box h1{
  color: #e62a4e;
}

.sidebar-page-container .service-details-content .content-style-two .inner-box .single-item .icon-box{
  color: #e62a4e;
}

.service-details-content .two-column .content-box .list li:before{
  color: #e62a4e;
}

.sidebar-page-container .news-block-one .inner-box .lower-content h2 a:hover{
  color: #e62a4e;
}

.sidebar-page-container .sidebar .sidebar-search .form-group input:focus + button,
.sidebar-page-container .sidebar .sidebar-search .form-group button:hover{
  color: #e62a4e;
}

.sidebar-page-container .blog-sidebar .sidebar-post .post-inner .post h5 a:hover{
  color: #e62a4e;
}

.blog-details-content .news-block-one .inner-box .lower-content .text blockquote{
  border-left: 3px solid #e62a4e;
}

.blog-details-content .news-block-one .inner-box .lower-content .text blockquote i{
  color: #e62a4e;
}

.blog-details-content .two-column .text ul li:before{
  color: #e62a4e;
}

.blog-details-content .post-share-option ul li a:hover{
  color: #e62a4e !important;
}

.blog-details-content .comments-area .comment-box .comment .comment-inner a{
  color: #e62a4e;
}

.contact-page-section .info-inner .single-item .inner-box p a:hover{
  color: #e62a4e;
}

.contact-page-section .info-inner .single-item .inner-box:hover .icon-box{
  color: #e62a4e;
}

.contact-page-section .contact-form-inner .default-form .form-group input:focus,
.contact-page-section .contact-form-inner .default-form .form-group textarea:focus{
  border-color: #e62a4e !important;
}