[viewBag]
==
<div class="mall-filter mall-filter--range">

    <div class="mall-slider-handles font-3" id="html5"
         data-start="{{ filter[slug].minValue | default(min) }}"
         data-end="{{ filter[slug].maxValue | default(max) }}"
         data-min="{{ min }}"
         data-max="{{ max }}"
         data-target="{{ slug }}"
         style="width: 100%"></div>

    <input data-min="{{ slug }}"
           type="hidden" name="filter[{{ slug }}][min]"
           value="{{ filter[slug].minValue }}">
    <input data-max="{{ slug }}"
           type="hidden" name="filter[{{ slug }}][max]"
           value="{{ filter[slug].maxValue }}">
           
    <div class="pt-7 font-5 text-dark text-right">
        <span class="mr-2">Price:</span>
        <div class="d-inline-block font-weight-semibold">
            <span>{{ currency.symbol }}<span id="input-number-min"></span>
                <input data-min="{{ slug }}"
                       type="hidden" name="filter[{{ slug }}][min]"
                       value="{{ filter[slug].minValue }}">
            </span>
            <span>&nbsp;–&nbsp;</span>
            <span>{{ currency.symbol }}<span id="input-number-max"></span>
                <input data-max="{{ slug }}"
                       type="hidden" name="filter[{{ slug }}][max]"
                       value="{{ filter[slug].maxValue }}">
            </span>
        </div>
    </div>

</div>