[viewBag]
==
{% if __SELF__.cookieManagerPage %}
    <div class="mx-lg-6 mr-3 gdpr-banner__settings">
        <u><a role="link" rel="privacy" href="{{ __SELF__.cookieManagerPage | page }}"
           data-request="onDecline"
           data-request-success="document.location.href = '{{ __SELF__.cookieManagerPage | page }}'"
           class="text-white text-nowrap transition-20 hover:text-primary font-1 font-sm-5"
        >
            {{ 'offline.gdpr::lang.cookie_banner.advanced_settings' | trans }}
        </a></u>
    </div>
{% endif %}