[viewBag]
==
{% if __SELF__.currentItem.items.count < 1 %}
    {% partial __SELF__ ~ '::empty' %}
{% else %}

    {% set items = __SELF__.currentItem.items %}
    {% set totals = __SELF__.currentItem.totals %}

    <div class="mall-cart__wrapper">
        <div class="mall-cart__table">
            <div>
            {% for product in __SELF__.currentItem.items %}
                {% partial 'cart::table-entry' product=product %}
            {% endfor %}
            </div>
            
            <div class="flex-wrap justify-content-between bg-secondary font-5">
                <div class="px-4 pt-3">
                    <span>{% partial 'cart::table-total' totals=totals %}</span>
                </div>
                <div class="px-4 pb-1">
                    <span>
						{% if __SELF__.showShipping %}
							{% partial __SELF__ ~ '::shipping'  shipping=totals.shippingTotal %}
							{% partial 'cart::table-grandtotal' totals=totals %}
						{% endif %}
						{% partial 'cart::table-taxes' totals=totals %}
					</span>
                </div>
            </div>
            
        </div>
    </div>


{% endif %}