description = "Product Page Header"

[viewBag]

[staticMenu]
code = "product-categories"
==
<div class="py-10">
    <div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-white align-items-end p-0 font-5">
				<li class="breadcrumb-item"><a class="text-link" href="{{ 'index'|page }}"><i class="w-4" data-feather="home"></i></a></li>
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a class="text-link" href="{{ breadcrumb.link }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</nav>
		<h1 class="font-weight-semibold">{{ item.name }}</h1>
		<span class="lead font-weight-semibold text-muted font-6">in
			{% for category in item.categories %}
			{{ category.name }}{% if not loop.last %},{% endif %}
			{% endfor %}
		</span>
        <hr class="mt-6">
    </div>
</div>