title = "Blog Category"
url = "/blog/category/:slug/:page?"
layout = "default"
is_hidden = 0

[viewBag]
localeUrl[gr] = "/blog-category"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/blog-category"
postPage = "blog/blog-post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/blog-category"

[blogPosts latestPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 4
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/blog-category"
postPage = "blog/blog-post"

[topPosts]
period = 5
category = 0
postPerPage = 4
postPage = "blog/blog-post"
slug = "{{ :slug }}"

[mailSignup]
==
{% partial 'pageHeader/blog-category' %}

<div class="container pb-12">
    <div class="row justify-content-center">
        <div class="col-lg-9 mb-6 {{ this.theme.blog_category_layout == 'order-lg-1' ? 'order-lg-2' : 'order-lg-1' }}">
            {% partial 'blogPosts/default' posts=blogPosts.posts %}
        </div>
        {% if this.theme.blog_category_layout is not empty %}
        <div class="col-lg-3 {{ this.theme.blog_category_layout }}">
            {% partial 'blogCategories/default' %}
            {% partial 'blogTopPosts/default' %}
            {% partial 'blogTagList/default' %}
            {% partial 'blogLatestPosts/default' blogPosts=latestPosts %}
            {% partial 'mailSignup/default' mailSignup=mailSignup id=Blog bg='bg-primary' %}
            {% if this.theme.shop_product_banner_section %}
            {% if this.theme.shop_product_banner_type == 'product' %}
            {% partial 'widgetBanners/product-banner-bottom' %}
            {% elseif this.theme.shop_product_banner_type == 'variant' %}
            {% partial 'widgetBanners/variant-banner-bottom' %}
            {% endif %}
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>