[staticPage]
useContent = 1
default = 0
==
{variable tab="pageTitle" name="pageTitleEnable" label="Enable" type="switch"}{/variable}
{variable tab="pageTitle" name="pageImage" label="Image(1920x500)" type="mediafinder" mode="image"}{/variable}
{variable tab="pageTitle" name="pageTitleTitle" label="Title *" type="text"}{/variable}
{repeater tab="pageTitle" name="pageBreads" prompt="Add client"}
{variable name="title" label="Title" type="text"}{/variable}
{variable name="url" label="Url" type="text"}{/variable}
{/repeater}

{variable tab="faq" name="faqEnable" label="Enable" type="switch"}{/variable}
{variable tab="faq" name="faqTitle" label="Title *" type="text"}{/variable}
{repeater tab="faq" name="faqs" prompt="Add faq"}
{variable name="q" label="Question" type="text"}{/variable}
{variable name="a" label="Answer" type="textarea"}{/variable}
{/repeater}


<!DOCTYPE html>
<html>
{% partial 'html/head' %}
<body>
<div class="boxed_wrapper">
    {% partial 'html/loader-wrap' %}
    {% partial 'html/switcher' %}
    {% partial 'html/search' %}
    {% partial 'html/header' %}
    {% partial 'html/mobile-menu' %}

    {% page %}

    {% partial 'html/footer' %}
    {% partial 'html/scroll-top' %}
</div>
{% partial 'html/script' %}
</body>
</html>