[viewBag]

[staticMenu]
code = "footer"

[staticMenu staticMenu1]
code = "footer_1"

[staticMenu staticMenu2]
code = "footer_2"

[staticMenu staticMenu3]
code = "footer_3"
==
<footer class="main-footer bg-color-2">
            <div class="auto-container">
                {% if this.theme.show_footer%}
                <div class="footer-top text-center">
                    <div class="widget-section">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget logo-widget">
                                    <figure class="footer-logo"><a href="/"><img src="{% if this.theme.logo_footer %}{{this.theme.logo_footer|media}}{% else %}{{'assets/images/footer-logo.png'|theme}}{% endif %}" alt=""></a></figure>
                                    <ul class="social-links clearfix mt-5">
                                        {% partial 'html/social' %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="footer-bottom clearfix">
                    <div class="copyright centred "><p>{{this.theme.copyright | raw}}</p></div>
                </div>
            </div>
        </footer>