[viewBag]
==
<!-- Preloader -->
        {% partial 'html/loader-wrap' %}


        <!-- switcher menu -->
        {% partial 'html/switcher' %}
        <!-- end switcher menu -->


        <!-- search-popup -->
        {% partial 'html/search' %}
        <!-- search-popup end -->


        <!-- main header -->
        {% partial 'html/head' %}
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        {% partial 'html/mobile-menu' %}
        <!-- End Mobile Menu -->